i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "projectIcons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e900";
}
.icon-icon1:before {
	content: "\e901";
}
.icon-icon2:before {
	content: "\e902";
}
.icon-icon3:before {
	content: "\e903";
}
.icon-icon4:before {
	content: "\e904";
}
.icon-icon5:before {
	content: "\e905";
}
.icon-icon6:before {
	content: "\e906";
}
.icon-icon7:before {
	content: "\e907";
}
.icon-icon8:before {
	content: "\e908";
}
.icon-icon9:before {
	content: "\e909";
}
.icon-icon10:before {
	content: "\e90a";
}
.icon-icon11:before {
	content: "\e90b";
}
.icon-icon12:before {
	content: "\e90c";
}
.icon-social:before {
	content: "\e90d";
}
.icon-social2:before {
	content: "\e90e";
}
.icon-social3:before {
	content: "\e90f";
}
.icon-social4:before {
	content: "\e910";
}
.icon-social5:before {
	content: "\e911";
}
.icon-social6:before {
	content: "\e912";
}
