<!-- TODO Section Case Start -->
<section class="cases">
	<div class="container">

		<h3 class="cases__title title">Case Study</h3>
		<div class="cases__subtitle"> A brief story about how this process works, keep an eye till the end</div>
		@@include('./_divider.html')

		<div class="cases-wrapper">

			<div class="cases-slider">
				<div class="cases-slider__item">
					<div class="cases-slider__item-content">
						<div class="case__img img-rotate">
							<i class="icon icon-icon4"></i>
						</div>
						<h4 class="case__title">ACCUMULATE CREATIVE IDEAS</h4>
						<hr class="case-mini-rule mini-rule">
						<p class="case__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ab, ullam
							accusamus molestiae in fugiat voluptatem similique fugit magnam velit quasi ducimus placeat
							deserunt quod quidem praesentium consectetur magni iusto!</p>
					</div>
					<button class="button case__button" href="#">Read More</button>
				</div>
				<div class="cases-slider__item">
					<div class="cases-slider__item-content">
						<div class="case__img img-rotate">
							<i class="icon icon-icon4"></i>
						</div>
						<h4 class="case__title">ACCUMULATE CREATIVE IDEAS</h4>
						<hr class="case-mini-rule mini-rule">
						<p class="case__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ab, ullam
							accusamus molestiae in fugiat voluptatem similique fugit magnam velit quasi ducimus placeat
							deserunt quod quidem praesentium consectetur magni iusto!</p>
					</div>
					<button class="button case__button" href="#">Read More</button>
				</div>
				<div class="cases-slider__item">
					<div class="cases-slider__item-content">
						<div class="case__img img-rotate">
							<i class="icon icon-icon4"></i>
						</div>
						<h4 class="case__title">ACCUMULATE CREATIVE IDEAS</h4>
						<hr class="case-mini-rule mini-rule">
						<p class="case__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ab, ullam
							accusamus molestiae in fugiat voluptatem similique fugit magnam velit quasi ducimus placeat
							deserunt quod quidem praesentium consectetur magni iusto!</p>
					</div>
					<button class="button case__button" href="#">Read More</button>
				</div>
				<div class="cases-slider__item">
					<div class="cases-slider__item-content">
						<div class="case__img img-rotate">
							<i class="icon icon-icon4"></i>
						</div>
						<h4 class="case__title">ACCUMULATE CREATIVE IDEAS</h4>
						<hr class="case-mini-rule mini-rule">
						<p class="case__info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ab, ullam
							accusamus molestiae in fugiat voluptatem similique fugit magnam velit quasi ducimus placeat
							deserunt quod quidem praesentium consectetur magni iusto!</p>
					</div>
					<button class="button case__button" href="#">Read More</button>
				</div>
			</div>

			<div class="cases__img">
				<img src="./img/case-study.jpg" alt="Case Study">
			</div>

		</div>

	</div>
</section>
<!-- TODO Section Case End -->