<!-- TODO Contact Section Start -->
<section class="contact" id="contact">
	<div class="container">

		<h3 class="contact__title title">Keep in Touch</h3>
		<div class="contact__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quod.</div>
		@@include('../templates/_divider.html' {})

		<div class="contact-wrapper pt">

			<div class="contact-info contact-wrapper__item">
				<div class="contact-info__address contact-info__item">
					<h4 class="contact-info__title">Our Address</h4>
					<address class="address contact-info__links">
						<a href="#">House #13, Streat road, Sydney<br>2310 Australia</a>
					</address>
				</div>
				<div class="contact-info__call contact-info__item">
					<h4 class="contact-info__title">Our Address</h4>
					<a class="phone-number contact-info__links" href="tel:+8801681091425">+880 168 109 1425</a>
					<a class="phone-number contact-info__links" href="tel:+0216809142">+0216809142</a>
				</div>
				<div class="contact-info__email contact-info__item">
					<h4 class="contact-info__title">Email Us</h4>
					<a class="email-adress contact-info__links" href="mailto:contactus@email.com">contactus@email.com</a>
				</div>
			</div>

			<div class="contact-form contact-wrapper__item">
				<form action="#" class="form" method="POST">
					<div class="form__input">
						<input type="text" placeholder="Name" name="name" id="name" required tabindex="1">
					</div>
					<div class="form__input">
						<input type="email" placeholder="Email" name="email" id="email" required tabindex="2">
					</div>
					<div class="form__input">
						<input type="text" placeholder="Subject" name="subject" id="subject" required tabindex="3">
					</div>
					<div class="form__textarea">
						<textarea name="message" id="message" placeholder="Message" required tabindex="4"></textarea>
					</div>
					<div class="form__submit">
						<button class="button form__button" type="submit" name="submit" id="submit" tabindex="5">Send
							Message</button>
					</div>
				</form>
			</div>

		</div>

	</div>
</section>
<!-- TODO Contact Section Start -->