<!-- TODO Counts Section Start -->
<section class="counts" style="background-image: url(./img/counts-bg.jpg);">
	<div class="container">

		<div class="counts-wrapper">

			<div class="counts__item">
				<div class="counts__icon">
					<i class="icon icon-icon3"></i>
				</div>
				<h4 class="counts__title countup">3891</h4>
				<div class="counts__subtitle">User Favourites</div>
			</div>
			<div class="counts__item">
				<div class="counts__icon">
					<i class="icon icon-icon9"></i>
				</div>
				<h4 class="counts__title countup">281</h4>
				<div class="counts__subtitle">Posts last 24 hours</div>
			</div>
			<div class="counts__item">
				<div class="counts__icon">
					<i class="icon icon-icon10"></i>
				</div>
				<h4 class="counts__title countup">618</h4>
				<div class="counts__subtitle">Total posts</div>
			</div>
			<div class="counts__item">
				<div class="counts__icon">
					<i class="icon icon-icon11"></i>
				</div>
				<h4 class="counts__title countup">178</h4>
				<div class="counts__subtitle">Campaigns</div>
			</div>
			<div class="counts__item">
				<div class="counts__icon">
					<i class="icon icon-icon12"></i>
				</div>
				<h4 class="counts__title countup">285</h4>
				<div class="counts__subtitle">Amazing Features</div>
			</div>

		</div>

	</div>
</section>
<!-- TODO Counts Section End -->