<!-- TODO Get Start Section Start -->
<section class="getstart" style="background-image: url(./img/free-bg.jpg);">
	<div class="container">
		<div class="getstart-wrapper">
			<h2 class="getstart__title">Let's Get Started Now. <strong>It's FREE!</strong></h2>
			<div class="getstart__subtitle">30 day free trial. Free plan allows up to 2 projects. Pay if you need more.
				Cancel
				anytime. No catches.</div>
			<button class="getstart__button button">Start Fee Trial</button>
		</div>
	</div>
</section>
<!-- TODO Get Start Section End -->