<!-- TODO Section Our History Start -->
<section class="history" id="history">
	<div class="container">

		<div class="history-wrapper">
			<div class="history__img">
				<img src="./img/monitor.png" alt="Monitor">
			</div>
			<div class="history__info">
				<h3 class="history__title title">Our history</h3>
				<p class="history__texts">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore asperiores alias illum dolores, sint
					beatae officiis eligendi amet excepturi possimus, vitae impedit autem, porro mollitia tempora temporibus
					adipisci. Culpa, dolorum.
				</p>
				<p class="history__texts">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita illo praesentium sequi recusandae
					veritatis enim quo impedit provident! Obcaecati doloribus excepturi nihil sed pariatur asperiores
					provident officia quibusdam nisi dolorem.
				</p>
				<a class="history__button button" href="#portfolio">Browse our work</a>
			</div>
		</div>
	</div>

</section>
<!-- TODO Section Our History End -->