<!-- TODO Partners Section Start -->
<section class="partners">
	<div class="container">

		<h3 class="partners__title title">Great integrations with others</h3>
		<div class="partners__subtitle">Suspendisse sed eros mollis, tincidunt felis eget<br>interdum erat. Nullam sit
			amet
			odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.</div>
		@@include('../templates/_divider.html' {})

		<div class="partners-wrapper pt">
			<div class="partners__item">
				<img src="./img/integration.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration2.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration3.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration4.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration5.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration6.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration7.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration8.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration9.png" alt="Partners">
			</div>
			<div class="partners__item">
				<img src="./img/integration10.png" alt="Partners">
			</div>
		</div>

	</div>
</section>
<!-- TODO Partners Section End -->