<!-- TODO portfolio Section Start -->
<section class="portfolio" id="portfolio">
	<div class="container">
		<h3 class="portfolio__title title">Recent portfolio</h3>
		<div class="portfolio__description">It has survived not only five centuries, but also the leap scrambled it to
			make a
			type</div>
		@@include('../templates/_divider.html' {})
	</div>

	<!-- TODO Portfolio Filter Tabs Content Start -->
	<div class="portfolio-wrapper">
		<ul class="portfolio-filter__links">
			<li class="portfolio-filter__link active" data-filter="all">All</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="print">Print Design</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="animation">Animation</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="art">Art</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="web">Web Design</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="photography">Photography</li><span>/</span>
			<li class="portfolio-filter__link" data-filter="video">Video</li>
		</ul>
		<div class="portfolio-filter__works">
			<div class="portfolio-filter__item print">
				<div class="portfolio__item-img">
					<img src="./img/img1.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item animation">
				<div class="portfolio__item-img">
					<img src="./img/img2.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item art">
				<div class="portfolio__item-img">
					<img src="./img/img3.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule mini-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item web">
				<div class="portfolio__item-img">
					<img src="./img/img4.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item photography">
				<div class="portfolio__item-img">
					<img src="./img/img5.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item video">
				<div class="portfolio__item-img">
					<img src="./img/img6.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item art">
				<div class="portfolio__item-img">
					<img src="./img/img7.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio-filter__item web">
				<div class="portfolio__item-img">
					<img src="./img/img8.jpg" alt="Portfolio Work">
				</div>
				<div class="portfolio__item-info">
					<div class="info-wrapper">
						<hr class="portfolio__item-rule">
						<div class="portfolio__item-title">T-Shirt Design</div>
						<div class="portfolio__item-links">
							<a class="portfolio__item-link" href="#">art</a>
							<span>/</span>
							<a class="portfolio__item-link" href="#">t-shirt</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TODO Portfolio Filter Tabs Content End -->
</section>
<!-- TODO portfolio Section End -->