<!-- TODO Prices Section Start -->
<section class="prices" id="prices">
	<div class="container">

		<h3 class="prices__title title">Our Pricing</h3>
		<div class="prices__subtitle">A 30 days free trial for all. A brief story about how this process works, keep an
			eye till the end</div>
		@@include('../templates/_divider.html' {})

		<div class="prices-wrapper pt">

			<div class="prices__item">
				<div class="price__name-content">
					<h4 class="price__name">Starter</h4>
				</div>
				<div class="prices__info-content">
					<div class="price__counts">
						<div class="price__money">$19</div>
						<div class="price__month">per month</div>
					</div>
					<ul class="price__list">
						<li class="price__list-item">Competition Analysis Methods</li>
						<li class="price__list-item">All Ranked URLs</li>
						<li class="price__list-item">International Support System</li>
						<li class="price__list-item">Social Media Tracking</li>
					</ul>
					<button class="button price__button">Choose Plan</button>
				</div>
			</div>
			<div class="prices__item">
				<div class="price__name-content">
					<h4 class="price__name">Premium</h4>
				</div>
				<div class="prices__info-content">
					<div class="price__counts">
						<div class="price__money">$39</div>
						<div class="price__month">per month</div>
					</div>
					<ul class="price__list">
						<li class="price__list-item">Competition Analysis Methods</li>
						<li class="price__list-item">All Ranked URLs</li>
						<li class="price__list-item">International Support System</li>
						<li class="price__list-item">Social Media Tracking</li>
					</ul>
					<button class="button price__button">Choose Plan</button>
				</div>
				<div class="recommended-price">Recommended</div>
			</div>
			<div class="prices__item">
				<div class="price__name-content">
					<h4 class="price__name">Business</h4>
				</div>
				<div class="prices__info-content">
					<div class="price__counts">
						<div class="price__money">$99</div>
						<div class="price__month">per month</div>
					</div>
					<ul class="price__list">
						<li class="price__list-item">Competition Analysis Methods</li>
						<li class="price__list-item">All Ranked URLs</li>
						<li class="price__list-item">International Support System</li>
						<li class="price__list-item">Social Media Tracking</li>
					</ul>
					<button class="button price__button">Choose Plan</button>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- TODO Prices Section End -->