<!-- TODO Services Section Start -->
<section class="services">
	<div class="services-slider">
		<div class="sevices-slider__item">
			<div class="services-wrapper">
				<div class="services-wrapper__info">
					<h3 class="services__title title">Our Services</h3>
					<div class="services-items">
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Web Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon6"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Print Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon7"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Photography</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon8"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="services-wrapper__img">
					<img src="./img/services-bg.jpg" alt="Services">
				</div>
			</div>
		</div>
		<div class="sevices-slider__item">
			<div class="services-wrapper">
				<div class="services-wrapper__info">
					<h3 class="services__title title">Our Services</h3>
					<div class="services-items">
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Web Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon6"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Print Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon7"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Photography</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon8"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="services-wrapper__img">
					<img src="../img/services-bg.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="sevices-slider__item">
			<div class="services-wrapper">
				<div class="services-wrapper__info">
					<h3 class="services__title title">Our Services</h3>
					<div class="services-items">
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Web Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon6"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Print Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon7"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Photography</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon8"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="services-wrapper__img">
					<img src="../img/services-bg.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="sevices-slider__item">
			<div class="services-wrapper">
				<div class="services-wrapper__info">
					<h3 class="services__title title">Our Services</h3>
					<div class="services-items">
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Web Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon6"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Print Design</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon7"></i>
							</div>
						</div>
						<div class="service__item">
							<div class="service__item-info">
								<h4 class="service__title">Photography</h4>
								<p class="service__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Ipsum, laudantium
									commodi
									doloribus repellendus dolorem consectetur quae illo assumenda nostrum</p>
							</div>
							<div class="service__item-img">
								<i class="icon-icon8"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="services-wrapper__img">
					<img src="../img/services-bg.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- TODO Services Section End -->