<!-- TODO Team Section Start -->
<section class="team"
	style="background: url(./img/team-line.png) center bottom no-repeat, url(./img/team-bg.jpg) center no-repeat;"
	id="team">

	<h3 class="team__title title">Our Team</h3>
	<div class="team__subtitle">Meet the craziest team. Share your thoughts with them.</div>
	@@include('../templates/_divider.html' {})

	<div class="team-wrapper pt">
		<div class="team__member">
			<div class="team__member-image">
				<img src="./img/team.jpg" alt="Team Member">
			</div>
			<div class="team__member-info">
				<h4 class="team__member-name">Kazi Erfan</h4>
				<div class="team__member-profession">UI/UX Designer</div>
			</div>
		</div>
		<div class="team__member">
			<div class="team__member-image">
				<img src="./img/team2.jpg" alt="Team Member">
			</div>
			<div class="team__member-info">
				<h4 class="team__member-name">Kazi Erfan</h4>
				<div class="team__member-profession">UI/UX Designer</div>
			</div>
		</div>
		<div class="team__member">
			<div class="team__member-image">
				<img src="./img/team3.jpg" alt="Team Member">
			</div>
			<div class="team__member-info">
				<h4 class="team__member-name">Kazi Erfan</h4>
				<div class="team__member-profession">UI/UX Designer</div>
			</div>
		</div>
		<div class="team__member">
			<div class="team__member-image">
				<img src="./img/team4.jpg" alt="Team Member">
			</div>
			<div class="team__member-info">
				<h4 class="team__member-name">Kazi Erfan</h4>
				<div class="team__member-profession">UI/UX Designer</div>
			</div>
		</div>
		<div class="team__member">
			<div class="team__member-image">
				<img src="./img/team5.jpg" alt="Team Member">
			</div>
			<div class="team__member-info">
				<h4 class="team__member-name">Kazi Erfan</h4>
				<div class="team__member-profession">UI/UX Designer</div>
			</div>
		</div>
	</div>

</section>
<!-- TODO Team Section End -->