.contact {
	padding: $padding;
	background-color: $whiteColor;
}
.contact__title {
	margin-bottom: 100 * (30 / 768) + vh;
}
.contact__subtitle {
	@include paragraphs;
	text-align: center;
	margin-bottom: 100 * (30 / 768) + vh;
}
.contact-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	@media (min-width: 320px) and (max-width: 575px) {
		flex-direction: column;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		flex-direction: column;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-wrap: nowrap;
	}
}
.contact-wrapper__item {
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	background-color: $mainBgColor;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	@media (min-width: 320px) and (max-width: 575px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		flex-direction: row;
		flex-wrap: nowrap;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-basis: 49%;
	}
}
.contact-info {
	flex-basis: 40.8%;
	padding: 100 * (30 / 768) + vh 100 * (95 / 1366) + vw;
	box-sizing: border-box;
	@media (min-width: 320px) and (max-width: 575px) {
		margin-bottom: 100 * (30 / 768) + vh;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		margin-bottom: 100 * (30 / 768) + vh;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-basis: 49%;
		padding: 0;
	}
}
.contact-info__item {
	display: flex;
	flex-direction: column;
	margin: 100 * (27.5 / 768) + vh 0;
	@media (min-width: 320px) and (max-width: 575px) {
		flex: 1 1 100%;
		align-items: center;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		flex: 1 1 100%;
		align-items: center;
	}
}
.contact-info__title {
	font-size: 2.4rem;
	line-height: 2.4rem;
	font-family: $secondFont;
	font-weight: 600;
	color: $hoverColor;
	text-transform: uppercase;
	margin-bottom: 1rem;
	@media (min-width: 320px) and (max-width: 575px) {
		font-size: 2rem;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		font-size: 2rem;
	}
	@media (min-width: 768px) and (max-width: 991px) {
	}
	@media (min-width: 992px) and (max-width: 1199px) {
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
	}
	@media (min-width: 1400) {
	}
}
.address {
	a {
		@include paragraphs;
		font-size: 1.8rem;
		&:hover {
			color: $hoverColor;
		}
	}
}
.contact-info__links {
	@include paragraphs;
	font-size: 1.8rem;
	&:hover {
		color: $hoverColor;
	}
}
.contact-form {
	flex-basis: 56.8%;
	padding: 0 100 * (95 / 1366) + vw;
	box-sizing: border-box;
	@media (min-width: 320px) and (max-width: 575px) {
		padding: 3rem;
	}
	@media (min-width: 576px) and (max-width: 991px) {
		padding: 3rem;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-basis: 49%;
	}
}
.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form__input {
	@include paragraphs;
	font-size: 1.8rem;
	input {
		border-bottom: 1px solid #e5e5e5;
		padding: 2rem 0;
		display: block;
		width: 100%;
		height: 100%;
		transition: all 0.3s;
		color: $darken;
		&:focus {
			border-color: $hoverColor;
		}
	}
}
.form__textarea {
	margin-bottom: 3rem;
	@include paragraphs;
	font-size: 1.8rem;
	textarea {
		padding: 2rem 0;
		height: 10rem;
		width: 100%;
		border-bottom: 1px solid #e5e5e5;
		transition: all 0.3s;
		color: $darken;
		line-height: 2.4rem;
		&:focus {
			border-color: $hoverColor;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
