.counts {
	min-height: 100 * (510 / 768) + vh;
	max-width: 100vw;
	position: relative;
	box-sizing: border-box;
	padding: 100 * (160 / 768) + vh 0 100 * (140 / 768) + vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, #000, #0000, #000);
	}
}
.counts-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.counts__item {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media (min-width: 320px) and (max-width: 575px) {
		flex-basis: 50%;
		margin-bottom: 100 * (50 / 768) + vh;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		flex-basis: 33.3333333%;
		margin-bottom: 100 * (50 / 768) + vh;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-basis: 25%;
		margin-bottom: 100 * (50 / 768) + vh;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
	}
	@media (min-width: 1400) {
	}
}
.counts__icon {
	width: 109px;
	height: 109px;
	border: 1px solid $mainBgColor;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100 * (50 / 768) + vh;
	z-index: 50;
	overflow: hidden;
	transition: all 0.3s;
	&:hover {
		border-radius: 5%;
		background-color: $hoverColor;
		border-color: transparent;
	}
}
.counts__title {
	margin-bottom: 2rem;
	font-size: 3rem;
	font-family: $secondFont;
	color: $mainBgColor;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1.2px;
	z-index: 51;
}
.counts__subtitle {
	font-family: $secondFont;
	color: $mainBgColor;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1;
	letter-spacing: 1.2px;
	z-index: 52;
}
