.partners {
	padding: $padding;
	background-color: $whiteColor;
}
.partners__title {
	margin-bottom: 3rem;
}
.partners__subtitle {
	@include paragraphs;
	text-align: center;
	margin-bottom: 3rem;
	line-height: 2.1rem;
}
.pt {
	padding-top: 7rem;
}
.partners-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.partners__item {
	flex-basis: 18%;
	height: 10rem;
	background-color: $mainBgColor;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
	img {
		display: inline-block;
	}
}
