.portfolio {
	padding-top: 100 * (140 / 768) + vh;
	min-height: 100vh;
}
.portfolio__title {
	margin-bottom: 100 * (30 / 768) + vh;
}
.portfolio__description {
	@include paragraphs;
	text-align: center;
	margin-bottom: 100 * (30 / 768) + vh;
}

.portfolio-wrapper {
	margin-top: 100 * (70 / 768) + vh;
	display: flex;
	flex-direction: column;
}
.portfolio-filter__links {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 100 * (25 / 1366) + vw;
	margin-bottom: 100 * (50 / 768) + vh;
	span {
		@include paragraphs;
		font-weight: 700;
		font-family: $mainFont;
		display: block;
		padding: 2px 100 * (10 / 1366) + vw 2.5px;
	}
}
.portfolio-filter__link {
	@include paragraphs;
	font-family: $mainFont;
	font-weight: 700;
	padding: 2.5px 100 * (10 / 1366) + vw;
	cursor: pointer;
	transition: all 0.3s;
	&:hover,
	&.active {
		color: $hoverColor;
	}
	& + & {
		margin-left: 100 * (10 / 1366) + vw;
	}
}

.portfolio-filter__works {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-filter__item {
	width: 100%;
	height: 340px;
	flex-basis: 25%;
	position: relative;
	@media (min-width: 320px) and (max-width: 575px) {
		flex-basis: 100%;
	}
	@media (min-width: 576px) and (max-width: 767px) {
		flex-basis: 50%;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		flex-basis: 33.3333333%;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
	}
	@media (min-width: 1200px) and (max-width: 1399px) {
	}
	@media (min-width: 1400) {
	}
	&:hover {
		.portfolio__item-info {
			opacity: 1;
		}
	}
}

.portfolio__item-img {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}
.portfolio__item-info {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: $hoverColor, $alpha: 0.8);
	opacity: 0;
	transition: all 0.3s;
}
.info-wrapper {
	position: absolute;
	bottom: 3.5rem;
	left: 10%;
}
.portfolio__item-rule {
	display: block;
	width: 4.4rem;
	height: 0.4rem;
	margin-bottom: 3rem;
	background-color: $mainBgColor;
}
.portfolio__item-title {
	margin-bottom: 2rem;
	font-family: $secondFont;
	font-weight: 600;
	font-size: 2.4rem;
	color: $mainBgColor;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.portfolio__item-links {
	color: $mainBgColor;
	font-size: 1.4rem;
}
.portfolio__item-link {
	font-family: $mainFont;
	color: $mainBgColor;
	transition: color 0.3s;
	&:hover {
		color: $darken;
	}
}
